#container {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
div {
  margin-top: 50px;
}
#row {
  display: flex;
}
/*gradiente Linear*/
#dv1 {
  width: 280px;
  height: 280px;
  border: 1px solid #000;
  background: linear-gradient(180deg, #f00, #ff0, #00f);
  margin-right: 36px;
}

/*gradiente radial*/
#dv2 {
  width: 280px;
  height: 280px;
  border: 1px solid #000;
  background: radial-gradient(#f00 0%, #ff0 50%);
}
/*gradiente radial em um retângulo*/
#dv3 {
  width: 600px;
  height: 300px;
  border: 1px solid #000;
  background: radial-gradient(circle, #f00 0%, #ff0 50%);
}
/*gradiente radial em um retângulo repetindo o gradiente*/
#dv4 {
  width: 600px;
  height: 300px;
  border: 1px solid #000;
  background: repeating-radial-gradient(circle, #f00 0%, #ff0 20%);
}
/*gradiente Linear- em um retângulo repetindo o gradiente*/
#dv5 {
  width: 600px;
  height: 300px;
  border: 1px solid #000;
  background: repeating-linear-gradient(90deg, #f00 0%, #ff0 20%);
}
#titulo {
  width: 600px;
  margin: 0 auto;
}
/*gradiente no texto*/
h1 {
  font-size: 40pt;
  text-align: center;
  background: linear-gradient(90deg, #f00, #ff0);
  /*gambiarra*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
